html {
    height: 100%;
}
body {
    background: #0e3554;
    /*background: linear-gradient(to right, #17232d, #143956);*/
    /*background: linear-gradient(to right, #202a33, #253e52);*/
    background-color: #141824;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: auto;
    top: auto;
    overscroll-behavior: none;
}


.spinner {
    width: 40px;
    height: 40px;
    background-color: whitesmoke;

    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(20,24,36, 1);
    z-index: 999999;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}



.navbar{
    background-color: #27293d;
    padding-left: 20px;
}

.nav-item{
    padding-left: 8px;
    padding-right: 8px;
}

.logo-header{
    height: 25px;
}

header{
    position: relative;
}

.headerSpan{
    color: whitesmoke;
    font-size: small;
    margin-left: 4px;
}
.navImg{
    height:20px;
    width: 20px;
}

.adminLiHeader{
    display: none;
}

.dropdownMenuUser{
    background-color: #26293b;
    color: whitesmoke;
}

.dropdown{
    cursor:pointer;
}

.buttonDW{
    border: none;
    color: whitesmoke !important;
    font-size: small;
    border-radius: 0.25rem;
    cursor:pointer;
    margin-top: 4px;
    user-select: none;
    width: 100px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#homeButtonHeader{
    padding-left: 6px;
}

.buttonDeposit{
    background-color: #118258;
}

.buttonDeposit:hover{
    background-color: rgb(14, 117, 79);;
}

.buttonWithdraw{
    background-color: darkred;
}

.buttonWithdraw:hover{
    background-color: rgb(120,0,0);
}

.checkedImg{
    width: 128px;
    height: 128px;
}

.linkDropdown{
    color:whitesmoke !important;
}

.linkDropdown:hover{
    color:rgba(255,255,255,.8) !important;
}

footer{
    background-color:transparent;
    padding-bottom: 100px;
    height: 75px;
    font-size: medium;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #202a33;
}


#balanceFooter{
    color:whitesmoke;
    padding-top: 25px;
    text-align: right;
    margin-right: 36px;
}

@media screen and (max-width: 600px) {
    .logo-header{
        height: 40px;
    }
    footer{
        height: 50px;
    }
    .footer-text{
        font-size: small;
    }
    #balanceFooter{
        padding-top: 6px;
    }
}




