html {
    height: 100%;
}
body {
    background: #0e3554;
    /*background: linear-gradient(to right, #17232d, #143956);*/
    /*background: linear-gradient(to right, #202a33, #253e52);*/
    background-color: #141824;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: auto;
    top: auto;
    overscroll-behavior: none;
}


.spinner {
    width: 40px;
    height: 40px;
    background-color: whitesmoke;

    position: absolute;
    top: 48%;
    left: 48%;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #202a33;
    z-index: 999999;
}

@-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    } 50% {
          transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
          -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
      } 100% {
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        }
}



.navbar{
    background-color: #202a33;
}

.nav-item{
    padding-left: 8px;
    padding-right: 8px;
}

.logo-header{
    height: 65px;
}

header{
    position: relative;
}

.loginLink{
    text-decoration: underline;
}

.adminLiHeader{
    display: none;
}

.checkedImg{
    width: 128px;
    height: 128px;
}

footer{
    background-color:transparent;
    padding-bottom: 100px;
    height: 75px;
    font-size: medium;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #202a33;
}


#balanceFooter{
    color:whitesmoke;
    padding-top: 25px;
    text-align: right;
    margin-right: 36px;
}

@media screen and (max-width: 600px) {
    .logo-header{
        height: 40px;
    }
    footer{
        height: 50px;
    }
    .footer-text{
        font-size: small;
    }
    #balanceFooter{
        padding-top: 6px;
    }
}




