/*.landingPage{*/
/*    padding-top: 60px;*/
/*}*/

.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../images/bg-headLanding4.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 3rem;
    padding-bottom: 10rem;
}

.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.4;
}

.headTitle{
    font-family: 'Josefin Sans';
}

.btnHeadLanding{
    border: 2px solid #202a33;
    background-color: #202a33;
    opacity: 0.95;
    color: whitesmoke;
    width: 240px;
    height: 60px;
    font-size: 20px;
}

.btnHeadLanding:hover{
    background-color: #202a33;
    opacity: 1;
    color: whitesmoke;
}

.headLandingContainer{
    padding-top: 140px;
}

.colButtonLanding{
    margin-bottom: 140px;
}

.text-headLanding{
    color: whitesmoke;
    font-weight: bold;
}

header.masthead h1 {
    font-size: 2rem;
}


/* REGION EXPLAIN */

.icon-learn {
    background: url('../images/learnSM.svg');
    /*height: 250px;*/
    /*width: 250px;*/
    height: 200px;
    width: 200px;
    display: block;
    color: whitesmoke;
    /* Other styles here */
}

.icon-trade {
    background: url('../images/tradeSM.svg');
    /*height: 250px;*/
    /*width: 250px;*/
    height: 200px;
    width: 200px;
    display: block;
    color: whitesmoke;
    /* Other styles here */
}

.icon-compete {
    background: url('../images/competeSM.svg');
    /*height: 250px;*/
    /*width: 250px;*/
    height: 200px;
    width: 200px;
    display: block;
    color: whitesmoke;
    /* Other styles here */
}

.features-icons-icon{
    margin-bottom: 24px;
}

.containerExplain p{
    color: whitesmoke;
}

.containerExplain h3{
    color: whitesmoke;
}

.containerExplain{
    padding-top: 100px;
    padding-bottom: 120px;
}

.btcChartLegendDiv{
    color: whitesmoke;
    text-align: center;
}



.showcase-img{
    background-color: #343a40;
    background: url("../images/bg-headLanding2.jpg") no-repeat center center;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    min-height: 450px;
    padding-top: 3rem;
    padding-bottom: 10rem;
}


.btcChartDiv{
    padding-top: 48px;
    padding-bottom: 48px;
}


/** ##################################################################################################################################################################### */



.lds-roller {
    margin: auto;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}
@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

