.tournamentsPage{
    min-width: 100%;
    height:100%;
    display: none;
    /*position: fixed;*/
    border-top: 0.5px solid #4c525e;
}

.tournamentsPageContainer{
    z-index: 99;
    height: 100%;
}

.rowPageContainer{
    height: 100%;
}

@media screen and (max-width: 992px) {
    .tournamentsPage{
        position: relative;
    }
}
.panelTournamentsCol{
    height:100%;
    width: 100%;
    padding: 0;
    border-right: 1px solid #4c525e;
    font-size: small;
    text-align: center;
}

.graphTournamentsCol{
    padding-top: 16px;
    background-color: #141824;

}

.registeredParty {
    margin-block-end: 0;
    margin-top: 0;
}

.headerTournamentsList{
    text-align: center;
    color: whitesmoke;
    background-color: #141824;
    height:60px;
    padding-top: 18px;
    font-size: medium;
}

.headerTournamentsActionPanel{
    text-align: center;
    color: whitesmoke;
    height:60px;
    font-size: medium;
    background-color: white;
    cursor: pointer;
}

.linkAllTournaments{
    font-size: 16px;
    color: whitesmoke;
    text-align: left;
    margin-top: 1.5%;
    margin-left: 2%;
    /*text-decoration: underline;*/
    cursor: pointer;
}

.goBackArrow{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.headerTournamentsActionPanel > .container-fluid {
    height: 100%;
}

.headerTournamentsActionPanel > .container-fluid > .row {
    height: 100%;
}

.btnTournamentsHeader{
    padding-top: 18px;
    width: 100%;
    height: 100%;
}

#colPrizeHeader{
    border-bottom: 0.5px solid #4c525e;
}

#colTradeHeader{
    border-left: 0.25px solid #4c525e;
    border-bottom: 0.5px solid #4c525e;
    border-right: 0.25px solid #4c525e;
}

#colRankHeader{
    border-bottom: 0.5px solid #4c525e;
}

.containerTrade{
    height: 100%;
}

.tournamentsActionPanel{
    height:100%;
    background-color: #141824;
    color:whitesmoke;
    display:none;
}

.tradeTournamentsActionPanel{
    height: 80%;
}

.tournamentsListPanel{
    height: 100%;
    background-color: #141824;
}

.rowTournamentPanel{
    cursor: pointer;
}

.rowRankingPanel{
    /*line-height: 50px;*/
    /*min-height: 50px;*/
    /*height: 50px;*/
}

.countdownP{
    margin-top: 12px;
}

.endingDateP{
    margin-top: 12px;
}

.entryBidP{
    margin-top: 12px;
}

.partyP{
    margin-top: 12px;
}

.partyPRegistered{
    margin-top: 12px;
}
/*.endingDateCell, .partyCell, .entryBidCel*/

.registeredTextList{
    font-size: x-small;
    margin-block-end: 0;
    margin-top: 0;
}

.buttonTournamentList{
    width: 100%;
    height: 100%;
}

.divTableTournaments{
    width: 100%;
    height:90%;
}

.divTableRanking{
    width: 100%;
}

.table-tournaments{
    width: 100%;
    user-select: none;
}

.table-ranking{
    width: 100%;
    user-select: none;
}

.cardParametersTrade{
    /*background-color: whitesmoke;*/
    /*background-color: rgba(20,24,36,0.95) !important;*/
    background-color: #202a33;
    color: whitesmoke;
    border: 0.5px solid #4c525e;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;

    height: 50%;
    margin-top: 24%;
}

.cardBodyParametersTrade{
    padding: 0;
    margin-right: 0;
    border-bottom: 0.4px solid #4c525e;
}

.cardBodyParametersTrade h4{
    margin-top: 12%;
    font-size: large;
    padding-left: 6%;
}

.cardFooterParametersTrade{
    padding: 0;
}

.cardTitleParametersTrade{
    margin-bottom: 4%;
}

.divPicAndTime{
    font-size: 14px;
    height: 40%;
}

.divPicAndAmount{
    font-size: 14px;
    height: 40%;
}

.imgTimeTrade{
    width: 15px;
    height: 15px;
    margin-left: 6%;
    vertical-align: middle;
}

.imgAmountTrade{
    width: 19px;
    height: 19px;
    margin-left: 6%;
    vertical-align: middle;
}

.rowTimeButtons, .rowAmountButtons{
    height: 35%;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.colTimeButtonPlus, .colAmountButtonPlus{
    border-right: 0.4px solid #4c525e;
}

.colTradeTime{
    padding-right: 0;
    padding-left: 0;
}

.colTradeAmount{
    padding-right: 0;
    padding-left: 0;
}


.colTradeUp{
    padding-right: 0;
    padding-left: 0;
}

.colTradeDown{
    padding-right: 0;
    padding-left: 0;
}

.newTradeInput{
    width: 40%;
    background: transparent;
    border: none;
    margin-left: 3%;
    color: whitesmoke;
}

.newTradeInput:focus{
    /*border-radius: 50%;*/
}

.rowTradeParameters{
    height: 50%;
}

.rowTradeMoves{
    height: 50%;
}

.cardMovesTrade{
    user-select: none;
    cursor: pointer;
    height: 50%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.3);
    /*border: 0.5px solid #4c525e;*/
}


.cardMovesUp{
    background-color: rgb(17, 130, 88);
    color: whitesmoke;
}

.cardMovesUp:hover{
    background-color: rgb(14, 117, 79);
}

.cardMovesDown{
    background-color: darkred;
    color: whitesmoke;
    /*border: 0.5px solid #ad1818;*/
}

.cardMovesDown:hover{
    background-color: rgb(120,0,0);
}

.cardTitleMovesTrade{
    font-size: x-large;
}


.selectSymbol{
    margin-bottom: 8px;
    background-color: #202a33;
    color: whitesmoke;
}

#symbolInput{
    background-color: #202a33;
    color: whitesmoke;
    height: 24px;
    font-size: small;
}

.listSymbols{
    list-style-type: none;
    padding: 2px 2px 2px 8px;
    font-size: 16px;
}

.lineListSymbols{
    cursor:pointer;
    border-top: 0.25px solid #4c525e;
}


/*

ABOUT TRADE CSS

*/
.containerListAbout{
    text-align: left;
}

.btnAbout{
    margin-top: 16px;
    margin-bottom: 32px;
}

#imgCheckedAbout{
    width: 75px;
    height: 75px;
}

#pRegisteredAbout{
    margin-top: 4px;
    color:#6ac159;
}

.cardPrize{
    margin-left: 10%;
    margin-bottom: 7%;
    width: 80%;
    color: #141824;
    padding-left: 0;
    padding-right: 0;
    margin-right: 10%;
    border: 1px solid #4c525e;
}

.cardPrizeBody{
    opacity: 0.95;
    background-color: rgba(20, 24, 36, 0.95);
    color: whitesmoke;
}

.cardPrizeHeader{
    background-color: rgba(20, 24, 36, 0.95);
    color: whitesmoke;
    font-size: 18px;
}

.cardRules{
    margin-left: 10%;
    width: 80%;
    color: #141824;
    padding-left: 0;
    padding-right: 0;
    margin-right: 10%;
    border: 1px solid #4c525e;
}

.cardRulesBody{
    opacity: 0.95;
    background-color: rgba(20, 24, 36, 0.95);
    color: whitesmoke;
}

.cardRulesHeader{
    background-color: rgba(20, 24, 36, 0.95);
    color: whitesmoke;
    font-size: 18px;
}

.titleAbout {
    text-decoration: underline;
}

.prizeIntel{
    font-size: 10px;
}

.intelAbout{
    margin-bottom: 2px;
}

#btnPlayAbout, #btnJoinAbout{
    width: 45%;
    height: 45px;
    font-size: medium;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.3);
}

.smallIconToast{
    width: 35px;
    height: 35px;
}

.toastTrade{
    background-color: #202a33;
    color: whitesmoke;
    border: 1px solid #4c525e;
    z-index: 999;
    display: none;
    top: 101px;
    padding: 8px;
    right: 15px;
    border-radius: 4px;
    height: 80px;
}

.toast-body{
    font-size: 14px;
}

.btnJoinCountdown{
    margin-top: 4px;
    font-size: 12px;
    width: 75px;
    height: 30px;
    background-color: #108258;
    color: whitesmoke;
}

.btnPlayCountdown{
    margin-top: 4px;
    font-size: 12px;
    width: 75px;
    height: 30px;
    background-color: #202a33;
    color: whitesmoke;
}

.divTableRanking{
    margin-top: 4%;
}

.rankTournamentsActionPanel{
    height: 100%;
}






/*.confirmDiv{*/
/*    position: fixed;*/
/*    display: none;*/
/*    background-color: whitesmoke;*/
/*    width: 40%;*/
/*    z-index: 9;*/
/*    border: 3px solid #7684a0;*/
/*    border-radius: 5px;*/
/*    margin-left: 30%;*/
/*    margin-right: 25%;*/
/*    margin-top: 20px;*/
/*}*/


/*.confirmDiv h3{*/
/*    margin-top: 8px;*/
/*    text-align: center;*/
/*}*/

/*@media screen and (max-width: 600px) {*/
/*    .confirmDiv{*/
/*        width: 80%;*/
/*        margin-left: 4%;*/
/*        margin-right: 4%;*/
/*    }*/

/*    .confirmDiv h3{*/
/*        margin-bottom: 8px;*/
/*    }*/
/*}*/

/*.tabTournamentsSpinner{*/
/*    !*display: none;*!*/
/*}*/


/*.confirmDiv p{*/
/*    margin-top: 4px;*/
/*    margin-left: 8%;*/
/*    margin-right: 8%;*/
/*    font-size: small;*/
/*}*/

/*.containerButtonCol{*/
/*    margin-top: 8px;*/
/*    margin-bottom: 12px;*/
/*    text-align: center;*/
/*}*/

/*.align-right{*/
/*    text-align: left;*/
/*    margin-left: 8%;*/
/*    margin-top: 2px;*/
/*    margin-bottom: 4px;*/
/*}*/

/*.colDetails{*/
/*    text-align: center;*/
/*}*/

/*.tabTournamentsRow{*/
/*    height: 50%;*/
/*    text-align: center;*/
/*    margin-bottom: 12px;*/
/*}*/

/*.tournamentsBox{*/
/*    max-height: 400px;*/
/*    background-color: #7684a0;*/
/*    border: 1px solid #7684a0;*/
/*    text-align: center;*/
/*    overflow: auto;*/
/*}*/

/*.tournamentsTitle{*/
/*    !*text-decoration: underline;*!*/
/*    !*padding-left: 36px;*!*/
/*    padding-top: 24px;*/
/*    color:whitesmoke;*/
/*}*/

/*#refreshTabTournaments{*/
/*    width:24px;*/
/*    height: 24px;*/
/*}*/

/*table{*/
/*    width: 100%;*/

/*}*/

/*.divTableTournaments{*/
/*    margin-top: 24px !important;*/
/*}*/

/*.table-body-tournaments tr:hover{*/
/*    !*background-color: #7684a0;*!*/
/*    //background-color: whitesmoke !important;*/
/*    //color: #202a33;*/
/*}*/

/*.joinButton{*/
/*    font-family: 'Josefin Sans';*/
/*    color: whitesmoke;*/
/*    background-color: #0e3554;*/
/*}*/

/*.playButton{*/
/*    font-family: 'Josefin Sans';*/
/*    color: whitesmoke;*/
/*    background-color: darkgreen;*/
/*}*/

/*.table-body-tournaments tr:hover .joinButton{*/
/*    background-color:#253e52;*/
/*}*/

/*.table-body-tournaments tr:hover .playButton{*/
/*    background-color:green;*/
/*}*/

/*.checkedTableImg{*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/

/*.ongoingTableImg{*/
/*    width: 24px;*/
/*    height: 24px;*/
/*}*/


/*!*.tournamentExplain p, .tournamentExplain h3 {*!*/
/*!*    text-align: center;*!*/
/*!*}*!*/

/*.tournamentExplain{*/
/*    margin-top: 12px;*/
/*    margin-bottom: 24px;*/
/*}*/

/*.priceBox{*/
/*    border: 1px solid #7684a0;*/
/*    text-align: center;*/
/*    padding: 4px;*/
/*}*/

/*.rulesBox{*/
/*    border: 1px solid #7684a0;*/
/*    text-align: center;*/
/*    padding: 4px;*/
/*}*/